# Python Basics

This Jupyter notebook covers the basics of Python, particularly, 1) data type, 2)data containers, 3) control flows, and 4) functions.

## 1. Python Data Type

Python has a handful of data types to store data effectively and efficiently. The followings are the data type we will cover in this course. 

- String: str()
    - 'Hello world'
- Integer: int()
    - 1, 2, 3...
- Floating-point number: float()
    - 3.141592...
- Boolean: bool() 
    - True or False

The following is a quick example of how you assign variables in Python. <br> 
Note that we did not need to declare variable types. We could just assign anything to a variable and it works. This is the power of an interpreted (as opposed to compiled) language.

In [ ]:
s = 'Hello world' # String
i = 1 # Integer
f = 3.141592 # Floating point number (float)
b = True

# Print the variables and their types
print(s, type(s))
print(i, type(i))
print(f, type(f))
print(b, type(b))

### 1.1. String

Strings are made using various kinds of (matching) quotes. Examples:

In [ ]:
s1 = 'hello'
s2 = "world"
s3 = '''strings can 
also go 'over'
multiple "lines".'''

print(s1)
print(s2)
print(s3)

You can also 'add' strings using 'operator overloading', meaning that the plus sign can take on different meanings depending on the data types of the variables you are using it on.

In [ ]:
print(s1 + ' ' + s2)  # note, we need the space otherwise we would get 'helloworld'

Another methods of putting strings together is called 'formatted string literals' (also called f-strings for short).

In [ ]:
# Here, we assign the string directly inside of the parenthesis.
print(f'{s1} {s2}') 
# The other method is to have numeric placeholders and assign text with .format() method. 
print('{0} {1}'.format(s1, s2))

---
### *Exercise*

1. (1 point) Create two variables, called `first` and `last`, and assign your first and last name, respectively.
2. (2 point) Comebine those two variables into a new variable and make a new variable called `name`. It should have a space between your first and last name. 

---

In [ ]:
# Your code here
first = 
last = 

name =

In [ ]:
""" Test code for the previous function. 
This cell should NOT give any errors when it is run."""

# Check your result here. 
print(f'{first} {last}')
print(name)

assert f'{first} {last}' == name
print("Success!")

Strings are 'objects' in that they have 'methods'. Methods are functions that act on the particular instance of a string object. <br>
You can access the methods by putting a dot after the variable name and then the method name with parentheses (and any arguments to the method within the parentheses). <br> Methods always have to have parentheses, even if they are empty.

In [ ]:
s3.upper()

You may be curious about why we see the result like `'STRINGS CAN \nALSO GO \'OVER\'\nMULTIPLE "LINES".'`. A word with a backslash `\`, (e.g., `\n` or `\t`) is called escape characters, and is being used to include nonprintable characters in a string. For example, `\n` means a new line and `\t` means a tab. <br> <br>
We can remove the escape characters from displaying by using the `print()` function.

In [ ]:
print(s3.upper())

In [ ]:
print(s3.capitalize())

One of the most useful string methods is 'split' that returns a list of the words in a string, with all of the whitespace (actual spaces, newlines, and tabs) removed. More on lists next.

In [ ]:
s3.split('s')

In [ ]:
# If no argument is given to the split method, it will split on whitespace.
s3.split()

Another common thing that is done with strings is the join method. It can be used to join a sequence of strings given a common conjunction

In [ ]:
words = s3.split()
print('_'.join(words))        # Here, we are using a method directly on the string '_' itself.

---
### *Exercise*

3. (1 point) Create two more variables as shown below. 
```python
   course = 'GEOG457'
   semester = 'Spring 2024'
```
4. (2 points) Print a senctence `[YOUR FIRST AND LAST NAME] is taking [COURSE], [SEMESTER].`, by using f-string (formated string literals). <br>
Note that you should NOT type capital letters for course and semester, but make them with the methods of string. <br><br>
<b>Expected result: </b><br>
`Jinwoo Park is taking GEOG457, Spring 2024.`

In [ ]:
# Your code here

course = 
semester = 

print(f'')

### 1.2. Numeric types (i.e., Integer and Float)

In [ ]:
year = 2024  # if you assign INTEGER to a variable, the type will be an INTEGER
pi = 3.141592  # if you assign FLOAT to a variable, the type will be an FLOAT. 

print(year, type(year))
print(pi, type(pi))

You can use the following arithmetic operator in Python. 

| Name | Operator | Example |
| --- | --- | --- |
| Addition | + | x + y |
| Subtraction | - | x - y |
| Multiplication | * | x * y |
| Division | / | x / y |
| Exponentiation | ** | x ** y |
| Floor division | // | x // y |
| Modulus | % | x % y |

In [ ]:
aa = 25
bb = 3

print(f'Addition:        {aa} + {bb} = {aa + bb}') 
print(f'Subtraction:     {aa} - {bb} = {aa - bb}') 
print(f'Multiplication:  {aa} * {bb} = {aa * bb}') 
print(f'Division:        {aa} / {bb} = {aa / bb}') 
print(f'Exponentiation:  {aa} ** {bb} = {aa ** bb}') 
print(f'Quotient:        {aa} // {bb} = {aa // bb}') 
print(f'Remainder:       {aa} % {bb} = {aa % bb}')

If you sum an integer and a float, its type will be float, regardless of the result of the sum.

In [ ]:
n1 = 1
n2 = 1.0
n3 = n1 + n2

print(n1, type(n1))
print(n2, type(n2))
print(n3, type(n3))

You can easily change the type of numerical variables with `int()` and `float()`. <br>
Note that `int()` will only keep the integer part of float (e.g., 3.141592 -> 3).

In [ ]:
# From integer to float
print(n1, type(n1))

n4 = float(n1)
print(n4, type(n4))

# From float to integer
print(pi, type(pi))

n5 = int(pi)
print(n5, type(n5))

If you want to round the rational number, instead of just removing decimal points, use the function `round()`.

In [ ]:
# round(number, digit) takes two arguments. 
# The first is the number to be rounded, the second is the number of decimals (default is 0).
print(round(pi, 1))  
print(round(pi, 2))
print(round(pi, 3))
print(round(pi, 4))
print(round(pi, 5))

---
### *Exercise*

5. (2 points) Calculate the perimeter and the area of a circle with a radius of 5 (You can use pi assigned in the previus cell). <br><br>
$$ C = 2 \pi r $$
$$ A = \pi r ^2 $$


6. (2 points) Assign the perimeter and the area to C and A, respectively. 

---

In [ ]:
# Your code here
pi = 3.141592
r = 

C = 
A =

In [ ]:
""" Test code for the previous function. 
This cell should NOT give any errors when it is run."""

# Check your result here. 
print(f'Perimeter of a circle: {C}')
print(f'Area of a circle: {A}')

assert round(C, 2) == 31.42
assert round(A, 2) == 78.54
print("Success!")

### 1.3. Boolean 

A `Boolean` variable denotes ture or false values based on two case-sensitive keywords, `True` and `False`.

In [ ]:
b1 = True
b2 = False
print(b1, b2)

Note that `True` is NOT equal to `'True'`. `'True'` is a string, not a boolean.

In [ ]:
print(f'Type of True: {type(True)}')
print(f'Type of "True": {type("True")}')

Each data type of Python has a representation of boolean. For example, numereical value 0 is `False`, but other numbers are `True`. In addition, empty string (e.g., `''`) is `False`, but nonempty string is `True`.

In [ ]:
# Integer / Float
print(bool(0)) 
print(bool(1)) 
print(bool(-1.8))
print(bool(100))

In [ ]:
# String
print(bool(''))
print(bool('Something'))
print(bool('Words'))

The variable type, Boolean, is usually used for testing conditions, rather than storing True and False. 
<br><br>
We can test the values of variables using different operators. These tests return a `Boolean` value. Either `True` or `False`. `False` is the same as zero, `True` is nonzero. Note that assignment `=` is different than a test of equality `==`.

In [ ]:
a = 5

In [ ]:
print(f'a < 99:  {a < 99}')
print(f'a > 99:  {a > 99}')
print(f'a == 5.:  {a == 5.}')

These statements have returned "booleans", which are True and False only. These are commonly used to check for conditions within a script or function to determine the next course of action.

NOTE: booleans are NOT equivalent to a string that says "True" or "False". We can test this:

In [ ]:
True == 'True'

There are other things that can be tested, not just mathematical equalities. For example, to test if an element is inside of a list or string (or any sequence, more on sequences below..), do

In [ ]:
foo = [1, 2, 3, 4, 5 ,6] # List
5 in foo

In [ ]:
print('this' in 'What is this?')
print('that' in 'What is this?')

## 2. Containers

- List: list()
    - [variable1, variable2, variable3...]
- Tuple: tuple()
    - (variable1, variable2, variable3...)
- Dictionary: dict()
    - {key1: value1, key2: value2, key3: value3 ...}

Often you need lists or sequences of different values (e.g., a timeseries of temperature – a list of values representing the temperature on sequential days). There are three containers in the core python language. There are a few more specialized containers (e.g., numpy arrays and pandas dataframes) for use in scientific computing that we will learn much more about later; they are very similar to the containers we will learn about here.

### 2.1. List

Lists are perhaps the most common container type. They are used for sequential data. Create them with square brackets with comma separated values within:

In [ ]:
foo = [1., 2., 3, 'four', 'five', [6., 7., 8], 'nine']
type(foo)

Note that lists (unlike arrays, as we will later learn) can be heterogeneous. That is, the elements in the list don't have to have the same kind of data type. Here we have a list with floats, ints, strings, and even another (nested) list!

We can retrieve the individual elements of a list by 'indexing' the list. We do this with square brackets, using zero-based indexes – that is 0 is the first element – as such:

In [ ]:
foo[0]

In [ ]:
foo[5]  # Nested list (a list in a list)

In [ ]:
foo[5][1]  # Python is sequential, we can access an element within an element using sequential indexing.

In [ ]:
foo[-1]    # This is the way to access the last element.

In [ ]:
foo[-3]    # ...and the third to last element

In [ ]:
foo[-3][2]   # we can also index strings.

We can get a sub-sequence from the list by giving a range of the data to extract. This is done by using the format

    start:stop:stride

where `start` is the first element, up to but not including the element indexed by `stop`, taking every `stride` elements. The defaluts are start at the beginning, include through the end, and include every element. 

The up-to-but-not-including part is confusing to first time Python users, but makes sense given the zero-based indexing. For example, `foo[:10]` gives the first ten elements of a sequence.

In [ ]:
# create a sequence of 10 elements, starting with zero, up to but not including 10.
bar = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# or you can use function range(start, end, step) to create the same list
bar_ = list(range(0, 10, 1))
print(bar)
print(bar_)
print(bar == bar_)

In [ ]:
bar[2:5]

In [ ]:
bar[:4]

In [ ]:
bar[:]

In [ ]:
bar[::2]

---
###  *Exercise*

7. (2 points) Create a list `list1` with the ragne from 0 to 9. BUT, DO NOT list off every variables (i.e., 0, 1, 2 ...)
8. (2 points) Use list indexing to obtain `[3, 4, 5]`, and save the result as `list2`. 
9. (2 points) Use list indexing to obtain `[2, 5, 8]`, and save teh result as `list3`.
---

In [ ]:
# Your code here
list1 = 
list2 = 
list3 =

In [ ]:
""" Test code for the previous function. 
This cell should NOT give any errors when it is run."""

# Check your result here. 
assert list1 == [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
assert list2 == [3, 4, 5]
assert list3 == [2, 5, 8]

print("Success!")

### 2.2. Tuples

Tuples (pronounced too'-puls) are sequences that can't be modified, and don't have methods. Thus, they are designed to be immutable sequences. They are created like lists, but with parentheses instead of square brackets.

In [ ]:
bar = list(range(0, 10, 1))
print(bar)
bar[3] = -999
print(bar)

In [ ]:
# foo = (3, 5, 7, 9)
# foo[2] = -999  # gives an assignment error. Commented so that all cells run.

### 2.3. Dictionaries

Dictionaries are used for unordered sequences that are referenced by arbitrary 'keys' instead of by a (sequential) index. Dictionaries are created using curly braces with keys and values separated by a colon, and key:value pairs separated by commas, as

In [ ]:
dict_car = {
    "brand" : "Subaru",
    "model" : "Forester",
    "year"  : 2023
}
print(dict_car)

Elements are referenced and assigned by keys:

In [ ]:
dict_car['brand']

In [ ]:
dict_car['model']

The sets of a key and a value can be added or replaced as follows.

In [ ]:
# Add value with a key
dict_car['color'] = 'Black'
print(dict_car)

In [ ]:
# Replacing value with a key
print(dict_car['year'])
dict_car['year'] = list(range(2010, 2025, 1)) # [2010, 2011, 2012, 2013, ... ]
print(dict_car['year'])

The keys and values can be extracted as lists using methods of the dictionary class.

In [ ]:
dict_car.keys()

In [ ]:
dict_car.values()

## 3. Control Flows

- Loops
    - For loop (or for statement)
    - While loop (or while statement)

- Conditional (i.e., if statement)

### 3.1. For loop

Loops are one of the fundamental structures in programming. Loops allow you to iterate over each element in a sequence, one at a time, and do something with those elements.

*Loop syntax*: Loops have a very particular syntax in Python; this syntax is one of the most notable features to Python newcomers. The format looks like

```python
    for *element* in *sequence*:                # NOTE the colon at the end
        <some code that uses the *element*>     # the block of code that is looped over for each element
        <more code that uses the *element*>     # is indented four spaces (yes four! yes spaces!)
    
    <the code after the loop continues>         # the end of the loop is marked simply by unindented code
```
Thus, INDENTATION IS SIGNIFICNAT TO THE CODE. This was done because good coding practice (in almost all languages, C, FORTRAN, MATLAB) typically indents loops, functions, etc. Having indentation be significant saves the end of loop syntax for more compact code.

*Some important notes on indentation*  Indentation in python is typically *4 spaces*. Most programming text editors will be smart about indentation, and will also convert TABs to four spaces. Jupyter notebooks are smart about indentation, and will do the right thing, i.e., autoindent a line below a line with a trailing colon, and convert TABs to spaces.

In [ ]:
# A simple example is to find the sum of the sequence 0 through 10,
sum_result = 0

for n in range(11):
    sum_result += n
    print(f'sum result from 0 to {n}: {sum_result}')
    
print(sum_result)

In [ ]:
names = ['Patrick', 'Chris', 'Daniel']
for name in names:
    print(f'Welcome to the programming class, {name}!')

In [ ]:
# This for loop will spit out every alphabet in the string. 
for s in 'Patrick':
    print(s)

Sometimes you want to iterate over a sequence but you *also* want the indices of those elements. One way to do that is the `enumerate` function:
```python
    enumerate(<sequence>)
```
This returns a sequence of two element tuples, the first element in each tuple is the index, the second the element. It is commonly used in `for` loops, like

In [ ]:
# If you want to get index and value over a for loop
for idx, name in enumerate(names):
    print(f'Welcome {name}, your seat is {idx}')

### 3.2. While loops

The majority of loops that you will write will be `for` loops. These are loops that have a defined number of iterations, over a specified sequence. However, there may be times when it is not clear when the loop should terminate. In this case, you use a `while` loop. This has the syntax

```python
    while <condition> is True:
        <code>
```
`condition` should be something that can be evaluated when the loop is started, and the variables that determine the conditional should be modified in the loop.

This kind of loop should be use carefully — it is relatively easy to accidentally create an infinite loop, where the condition never is triggered to stop so the loop continues forever. This is especially important to avoid given that we are using shared resources in our class and a `while` loop that never ends can cause the computer the crash.

In [ ]:
n = 5         # starting value
loop_count = 0 # counter
while n > 0:
    n -= 1    # subtract 1 each loop
    loop_count += 1
    print(f'loop count: {loop_count} and the current n is {n}')  # look at value of n

---
### *Exercise*

10. (3 points) Calculate how many sequential integer should be added to exceed 100,000 (i.e., from 1 to ?). You need to provide a proof of code using a while loop.

---

In [ ]:
# Your code here

sum_result = 0
n = 0

### 3.3. If statement
Conditionals have a similar syntax to `for` statements. Generally, conditionals look like
```python
    if <test>:
        <Code run if...>
        <...test is valid>
```
or
```python
    if <first test>:
        <Code run if...>
        <...the first test is valid>
    elif <second test>:
        <Code run if...>
        <...the second test is valid>
    else:
        <Code run if...>
        <...neither test is valid>
```

In both cases the test statements are code segments that return a boolean value, often a test for equality or inequality. The `elif` and `else` statements are always optional; both, either, or none can be included.

In [ ]:
x = 25
    
if x < 20: 
    print('x is less than 20')
elif x == 20:
    print('x is equal to 20')
else:
    print('x is more than 20')

In [ ]:
# Example of nested if statements
# 'string'.isalpha() will determine whether the string is alphabet.
sentence = 'I would like to sort this sentence into vowels, consonants, and special characters!@#$'

consonants = []  # list for consonants
vowels = []      # list for vowels
extra = []       # list for special characters 

for char in sentence:
    print(f'Character in the loop is {char}')
    if char.isalpha():
        if char.lower() in ['a', 'e', 'i', 'o', 'u']:
            consonants.append(char.lower())
        else:
            vowels.append(char.lower())
            
    else:
        if char == ' ':
            pass
        else:
            extra.append(char.lower())

print(set(consonants))
print(set(vowels))
print(set(extra))

---
### *Exercise*

11. (3 points) Find the lowest number that can be divided into 2, 3, 5, and 7 without any remainder (Not 0). <br>
Note: You need to provide a proof of code using a for loop and an if statement. <br>
Hint: three digits <br>
Hint: You can use % operator to check the remainder. For example, 10 % 3 = 1, because 10 / 3 = 3 with remainder 1. <br><br>
12. (3 points) Create three lists (`list_2`, `list_3`, `list_extra`). Within the range from 1 to 10, two lists (`list_2` and `list_3`) contain the numbers can be divided by 2 and 3 without remainder, respectively. The other list (`list_extra`) has the numbers that CANNOT be divided by 2 and 3 without remainder. <br>
Note: You need to provide a proof of code using a for loop and an if statement. 

---

In [ ]:
# Your code here (Excersise 11)

In [ ]:
# Your code here (Excersise 12)
list_2 = []
list_3 = []
list_extra = []

In [ ]:
""" Test code for the previous function. 
This cell should NOT give any errors when it is run."""

# Check your result here. 
assert list_2 == [2, 4, 6, 8]
assert list_3 == [3, 6, 9]
assert list_extra == [1, 5, 7]

print("Success!")

### 1.4. Other control flows: Break, Pass, Continue

In [ ]:
# Example of break
number = 0

for number in range(10):
#     if number > 5:
#         break    # break here

    print('Number is ' + str(number))

print('Out of loop')

In [ ]:
# Example of continue
number = 0

for number in range(10):
    if number == 5:
        continue    # continue here

    print('Number is ' + str(number))

print('Out of loop')

In [ ]:
# Example of pass
number = 0

for number in range(10):
    if number == 5:
        pass    # pass here

    print('Number is ' + str(number))

print('Out of loop')

# 4. Functions

Functions are ways to create reusable blocks of code that can be run with different variable values – the input variables to the function. Functions are defined using the syntax

```python
    def <function name> (var1, var2, ...):
        <block of code...>
        <...defining the function>
        return <return variable(s)>
```
Functions can be defined at any point in the code, and called at any subsequent point.

In [ ]:
def addfive(x):
    '''Return the argument plus five
    
    Input : x
            A number
    
    Output: foo
            The number x plus five
    
    '''
    return x+5

addfive(3)

In [ ]:
def calculate_circle(r):
    '''Return the perimeter and area of a circle with the argument
    
    Input : r
            A number
    
    Output: (C, A)
            C: perimeter of a circle with radius r
            A: area of a circle with radius r
    
    '''
    pi = 3.141592
    C = 2 * pi * r
    A = pi * r ** 2
    
    return C, A

perimeter, area = calculate_circle(5)
print(f'Perimeter of a circle: {perimeter}')
print(f'Area of a circle: {area}')

---
### *Exercise*

13. (5 points) Write a function that takes in a list of numbers and returns two lists of numbers: the odd numbers in the list and the even numbers in the list. That is, if your function is called `odds_evens()`, it should work as follows: <br>

```python
    odds, evens = odds_evens([1,5,2,8,3,4])
    print(odds, evens)
    ([1, 5, 3], [2, 8, 4])
```
    
Note that `x % y` gives the remainder of `x/y`.

---

In [ ]:
# Your code here

def odds_evens(temp_list):


            
    return odd_list, even_list


odds, evens = odds_evens([1, 5, 2, 8, 3, 4])

In [ ]:
""" Test code for the previous function. 
This cell should NOT give any errors when it is run."""

# Check your result here. 
assert odds == [1, 5, 3]
assert evens == [2, 8, 4]

print("Success!")